<div class="popup-content" id="change-password-{{ user.id }}">
    <form class="popup__content popup__content--edit" hx-post="{% url 'change-password-popup' user.id %}"
        hx-target="#change-password-{{ user.id }}" hx-swap="outerHTML" hx-validate="true">
        {% csrf_token %}
        {% if next_url %}
        <input type="hidden" name="next" value="{{ next_url }}" />
        {% endif %}
        <input type="hidden" name="user_id" value="{{ user.id }}" />
        <input type="hidden" name="form_action" value="change_password" />
        <header>
            <h2 id="user-edit-title-{{ user.id }}">Password ändern für {{ user.first_name }} {{ user.last_name }}</h2>
            <button type="button" class="btn btn-link" data-popup-open="popup-big"
                data-popup-url="{% url 'user-details' user.id %}">Zurück</button>
        </header>

        {{ form.as_p }}

        <div class="popup__actions">
            <button type="submit" class="btn btn-primary">Fertig</button>
            <button type="button" class="btn btn-secondary" data-popup-close>Schließen</button>
        </div>
    </form>
</div>
