<p hidden id="notification-count">{{ notifications|length }}</p>
{% for notification in notifications %}
<div class="notification">
    {% if notification.open_as_popup %}
    <button type="button" class="notification-open" data-popup-open="popup-big"
        data-popup-url="{% url 'event-details' notification.target.pk %}">
        <p>{{ notification }}</p>
    </button>
    {% else %}
    <a class="notification-open" href="{{ notification.get_url }}">
        <p>{{ notification }}</p>
    </a>
    {% endif %}
    <button type="button" class="mark-as-read btn btn-secondary"
        hx-post="{% url 'mark-notification-as-read' notification.id %}" hx-swap="none"
        hx-on::after-request="htmx.trigger('#notifications','refresh')">
        Gelesen
    </button>
</div>
{% endfor %}
