{% extends 'base.html' %}

{% load static %}

{% block title %}Kontakt{% endblock %}

{% block main %}
<main>
    <section>
        <h1>Kontakt</h1>
    </section>
    <section>
        <h2>Bei Problemen, Verbesserungs- oder Feautrevorschlägen gerne melden:</h2>
        <p>
            <a href="https://github.com/idkaybattl/gradclass.org/issues">Github</a> <br>
            oder persönlich: <br>
            Moritz Fechte: <br>
            Whatsapp etc.: +49 171 2952470 <br>
            IServ: moritz.fechte@whg.ms.de <br>
            Mail: moritz.fechte@gmail.com <br>
        </p>
    </section>
</main>
{% endblock %}
