{% extends 'basesbase.html' %}

{% load static %}

{% block basehead %}
<link rel="stylesheet" href="{% static 'dashboard/introduction.css' %}" />
{% endblock %}

{% block content %}
<div class="intro-steps">
    <section id="step-1" class="base-block step">
        <div>
            Hi {{ request.user.first_name }}, <br>
            <br>
            Aktionen wie Waffelverkauf, Giro, etc. hier eintragen. <br>
            <br>
            Arbeitstunden und verdientes Geld werden damit aufgezeichnet. <br>
            <br>
        </div>
        <button id="move-step" data-to="2" data-from="1" class="btn btn-primary">Weiter</button>
    </section>
    <section id="step-2" class="base-block step hidden">
        <div>
            <h3>Bitte benutzen: </h3>
            Das Punktesystem beeinflusst die Preise der Abiball Tickets <br>
            <br>
            Wie genau das Punktesystem funktioniert steht noch nicht fest <br> <br>
        </div>
        <button id="move-step" data-to="3" data-from="2" class="btn btn-primary">Weiter</button>
    </section>
    <section id="step-3" class="base-block step hidden">
        <div>
            <h3>Kommende Features:</h3> <br>
            - Abstimmungen (für Abimotto z.B.) <br>
            - Galerie (zum hochladen von Fotos und Videos für Abibuch und Abifilm) <br>
            - Ankündigungen <br>
            - Kommentare/Forum <br>
            - Kalenderansicht für Anstehendes <br>
            - etc. <br> <br>
        </div>
        <button id="move-step" data-to="4" data-from="3" class="btn btn-primary">Weiter</button>
    </section>
    <section id="step-4" class="base-block step hidden">
        <div>
            Bei Problemen oder Ideen, damit die Website nicht so langweilig bleibt, gerne melden. <br>
            <br>
            Moritz <br> <br>
        </div>
        <button id="move-step" data-to="5" data-from="4" class="btn btn-primary">Weiter</button>
    </section>
    <section id="step-5" class="base-block step hidden">
        <form method="post" hx-post="{% url 'set-password' %}" hx-swap="none" hx-validate="true"
            hx-on::after-request="showStep('step-6', 'step-5')">
            {% csrf_token %}
            <p>Tipp: Das gleiche Passwort, wie auf IServ, wäre vielleicht am einfachsten</p>
            {{ password_form.as_p }}
            <button type="submit" class="btn btn-primary">Fertig</button>
        </form>
    </section>
    <section id="step-6" class="base-block step hidden">
        {% include "components/_intro_user_edit.html" with form=profile_form %}
    </section>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/js/introduction.js'  %}"></script>
{% endblock %}
