{% extends 'base.html' %}
{% load static %}

{% block title %}Benutzer{% endblock %}


{% block main %}
<div class="events-page" id="user-page">
    <section class="top-bar">
        <h1>Benutzer</h1>
    </section>

    <section>
        <input type="search" id="user_search" class="participants-widget__search" data-user-search
            placeholder="Nutzer suchen ..." autocomplete="off" />
    </section>

    <section class="events-grid" id="user-grid">
        {% for user in users %}
        {% include "components/_user_card.html" %}
        {% empty %}
        <article class="empty-events">
            <h2>Keine Nutzer erstellt</h2>
        </article>
        {% endfor %}
    </section>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'dashboard/js/users.js' %}"></script>
{% endblock %}
